<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process login</title>
</head>
<body>
<h1>Вход</h1>

<form name="formAuth" action="/process_login" method="post">
    <label for="username">Логин:</label>
    <input type="text" id="username" name="username" required>
    <br/>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>
    <br/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <button type="submit">Войти</button>

    <div th:if="${param.error}" class="error" style="color: red;">
        Неверный логин или пароль
    </div>
</form>

</body>
</html>